<div class="success-payment-container">
  <img src="https://firebase-clothstoreclient.s3.ap-southeast-2.amazonaws.com/image+data+client/icon/complete.png" style="width: 70px; height: 70px" alt="Success Image" class="success-image">
  <h2 class="success-message">Payment Successful!</h2>
  <p class="success-description">Thank you for your payment. Your transaction has been successfully processed.</p>
  <br>
  <button class="btn btn-primary w-1/6 mx-auto" (click)="pageLoadingSucess()">Quay về</button>
</div>
